<div  fxLayoutGap="32px"fxLayoutAlign="center" style="margin: 4%" >
  <mat-card class="example-card" >
    <mat-card-header style="margin-left: -468px;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row" fxLayoutGap="2px" fxFlex fxLayout="row" fxLayoutAlign="flex-bottom" fxLayout>
        <button mat-mini-fab aria-label="Example icon-button with a heart icon">
          <!--<mat-icon>favorite</mat-icon>-->
          <i class="fas fa-heart"></i>
        </button>
        <button  mat-mini-fab color="primary">
          <!--<mat-icon>favorite</mat-icon>-->
          <i class="fas fa-thumbs-down"></i>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header style="margin-left: -468px;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Fox et Cooky</mat-card-title>
      <mat-card-subtitle>Race</mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJMSNhKdl4MmQL0Vz2B9bXpDzMMERDYHQej60oQMcFqG0vih7N" alt="Photo de deux chiens">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row" fxLayoutGap="2px" fxFlex fxLayout="row" fxLayoutAlign="flex-bottom" fxLayout>
        <button mat-mini-fab aria-label="Example icon-button with a heart icon">
          <!--<mat-icon>favorite</mat-icon>-->
          <i class="fas fa-heart"></i>
        </button>
        <button  mat-mini-fab color="primary">
          <!--<mat-icon>favorite</mat-icon>-->
          <i class="fas fa-thumbs-down"></i>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header style="margin-left: -468px;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>BETTY</mat-card-title>
      <mat-card-subtitle>CANICHE</mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_ctKv5RREFWcwpoXJKJFkfUKbymNC3kRynZ7tgw5uCqgkvVLJ&s" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row" fxLayoutGap="2px" fxFlex fxLayout="row" fxLayoutAlign="flex-bottom" fxLayout>
        <button mat-mini-fab aria-label="Example icon-button with a heart icon">
          <!--<mat-icon>favorite</mat-icon>-->
          <i class="fas fa-heart"></i>
        </button>
        <button  mat-mini-fab color="primary">
          <!--<mat-icon>favorite</mat-icon>-->
          <i class="fas fa-thumbs-down"></i>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
