<div fxLayoutAlign="center" style="margin: 4%">

  <mat-card style="width: 60%">
    <mat-card-title>
      Inscrire un chien
    </mat-card-title>

    <table>
      <tr>
        <mat-form-field>
          <input matInput placeholder="Nom">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <input matInput type="text" placeholder="Race">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <input matInput type="number" min="1" max="60" placeholder="Age">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <input matInput type="number" min="1" placeholder="Poid">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <input matInput placeholder="Passions">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <input matInput type="text" placeholder="Description">
        </mat-form-field>
      </tr>
      <tr>
        <p>Gender</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Male</mat-radio-button><br>
          <mat-radio-button value="2">Femelle</mat-radio-button><br>
        </mat-radio-group>
      </tr>
      <tr>
        <br>
      </tr>
      <tr>
        <mat-checkbox>Sociable avec les chats</mat-checkbox><br>
        <mat-checkbox>Sociable avec chiens</mat-checkbox><br>
        <mat-checkbox>Sociable avec bébés</mat-checkbox><br>
      </tr>
      <tr>
        <div class="div-img">
          <td>
            Télécharger une photo
          </td>
          <input type="file" (change)="onFileSelected($event)">
        </div>
      </tr>
      <tr>
        <button mat-raised-button color="primary">Envoyer</button>
      </tr>
    </table>
  </mat-card>
</div>
