<div fxLayout="center" style="margin: 4%">

<mat-card class="example-card" style="width: 60%">


  <table width="100%">
    <tr>
    </tr>
    <tr>
      <mat-card-title>
        Contactez-nous
      </mat-card-title>
    </tr>
    <tr>

      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput placeholder="" >
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field>
        <input matInput type="email" placeholder="Email">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field>
        <mat-label>Sujet</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field>
        <textarea matInput placeholder="Votre message"></textarea>
      </mat-form-field>
    <tr>
      <button mat-raised-button color="primary">Envoyer</button>
    </tr>
  </table>

</mat-card>
