mat-toolbar-row{
  overflow : hidden;
  background-color: rgba(63, 81, 181, 0.95);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  z-index: 5;
}
.mat-toolbar.mat-primary {
  background: none;
  /* color: #fff; */
  z-index: -1;
}
.cupiButton {
  margin-left: 10px;
}
mat-card-title{
  margin-left: 24%;
  margin-right: 24%;
}
li{
  list-style: none;
}
body{
  padding: 10%;
  margin: 20%;
}
