
<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
  <ul fxLayout="row" fxLayoutGap="2px">
    <li>
      <button mat-raised-button color="primary" routerLink="/presentation">Présentation</button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/dogs">Cupidogs</button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/inscription">Inscription</button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/inscription/chien">Inscrire un chien</button>
    </li>
  </ul>
</div>
