<div fxLayoutAlign="center" style="margin: 4%">

  <mat-card class="example-card" style="width: 60%">
    <mat-card-title>
      Inscription
    </mat-card-title>

    <form #myForm="ngForm" (ngSubmit)="inscrireMaitre(); myForm.reset();">
      <table>
        <tr>
          <mat-radio-group aria-label="Select an option" name="civility" [(ngModel)]="maitre.civility">
            <mat-radio-button value="1">MADAME</mat-radio-button>
            <br>
            <mat-radio-button value="2">MONSIEUR</mat-radio-button>
            <br>
            <mat-radio-button value="3">AUTRE</mat-radio-button>
          </mat-radio-group>
        </tr>
        <tr>
          <mat-form-field style="margin-top: 18px">
            <mat-label>Prénom</mat-label>
            <input matInput name="fName" placeholder="" [(ngModel)]="maitre.fName">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field style="margin-top: 18px">
            <mat-label>Nom</mat-label>
            <input matInput name="lName" placeholder="" [(ngModel)]="maitre.lName">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field style="margin-top: 18px">
            <mat-label>Adresse</mat-label>
            <input matInput name="address" placeholder="" [(ngModel)]="maitre.street">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field style="margin-bottom: 12px">
            <input matInput type="email" placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="maitre.email">
            <mat-hint>Les erreurs apparaissent instantanément!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Veuillez saisir une adresse e-mail valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')" >
              L'adresse mail est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" name="password" placeholder="" [(ngModel)]="maitre.password">
          </mat-form-field>
        </tr>
        <tr>
          <mat-checkbox>S'inscrire à la newsletter</mat-checkbox><br>
        </tr>
        <tr>
          <button type="submit" mat-raised-button color="primary" style="margin-top: 24px" [disabled]="myForm.invalid">Envoyer</button>
        </tr>
      </table>
    </form>

  </mat-card>
</div>
