<div fxLayoutAlign="center" style="margin: 4%">
  <mat-card class="example-card">
    <mat-card-header style="background-color: gainsboro">

      <mat-card-title>À propos de Cupidog</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Cupidog: les rencontres entre chiens évoluent !</h4>
   Il y a dix ans, les réseaux sociaux n’avaient pas encore pris toute la place qu’ils occupent actuellement dans notre société. Nous échangions via des plateformes plus ou moins sophistiquées. Il était également possible de chatter, en ligne, sur des sites mondialement connus.
   A cette époque sur la toile naissait également une mode : la déclinaison de sites de rencontres pour nos animaux de compagnie.
      <p>C'est ce concept, venu d'Outre-Atlantique que nous reprenons ici, pour faire une plateforme qui s'apparenterait au « Meetic des animaux ».
   Vous pouvez y retrouver tout ce qui faisait le charme et l’attrait d’un tel espace. Un moteur de recherche permettait de cibler la compagne, ou compagnon, que vous souhaitiez trouver pour votre chien, en fonction de la ville.
      </p>
      <p> Les traditionnels critères de la localisation géographique, l’aspect physique, l’âge et la psychologie de l’animal sont de mise.
   Partant du constat d'isolement social et du manque d'intéractions humaines dans nos sociétés modernes, Cupidog a pour cible d'utilisateurs tant les personnes qui arrivent dans un nouvel environnement et ne connaissent pas grand monde que les personnes simplement désireuses de rencontrer d'autres propriétaires de chiens.</p>
    </mat-card-content>

  </mat-card>
</div>

